@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
  background-color: #73808E;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #02040F;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  text-decoration: none;
}

h2:hover{
  color: #002642;
}

h4{
  text-align: center;
}

p{
  text-align: center;
}

img{
  border-width: 4px;
  border-color: #002642;
  border-style: solid;
}

a{
  text-decoraction:  none;
}

a:visited{
  color: #02040F;
}

.centerimg{
  text-align: center;
}
.currlink{
  text-decoration: none;
}

.homebtn{
  background-color: #E5DADA;
  border-radius: 5px;
  text-decoration: none;
}

.homebtn a{
  padding: 75px;
  float: left;
  text-align: center;
  color: #02040F;
  font-size: 35px;
  text-decoration: none;
}

.homebtn a:hover{
  background-color: #02040F;
  color: #E5DADA;
}

.blinking h1::after {
  content: "";
  width: 2px;
  height: 30px;
  background: #2D4654;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
