@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
  background-color: #73808E;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
}

p{
  text-align: center;
}

img{
  border-width: 4px;
  border-color: #002642;
  border-style: solid;
}

.centerimg{
  text-align: center;
}
